@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior-y: none;
}

body {
  background-color: #f7f8fa;
  color: #111827;
}

input[type='date']::-webkit-calendar-picker-indicator,
input[type='datetime-local']::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
}
